/* assets/css/main.css */
@import "tailwindcss";

/* Estilos generales */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav a {
  transition: color 0.3s ease;
}
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px);
}
/* Estilos para el modo oscuro */
.dark-mode body {
    background-color: rgb(92, 86, 86);
    color: rgb(126, 51, 51) ;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode div,
.dark-mode span,
.dark-mode label { /* Agregamos label tambien */
    color: rgb(255, 255, 255) /* Asegura que el texto sea blanco */
}

.dark-mode .bg-primary-500{
    background-color: rgb(0, 0, 0);
}
